<!-- Launch file for launching the robot controllers -->
<launch>
  <arg name="stopped" default="false" doc="Spawn the controllers in stoped mode"/>

  <!--Load controller parameters-->
  <rosparam file="$(find panda_gazebo)/cfg/controllers/joint_position_controllers.yaml" command="load"/>

  <!--Load the controllers-->
  <arg if="$(arg stopped)" name="command_args" value="--stopped"/>
  <arg unless="$(arg stopped)" name="command_args" value=""/>
  <node name="joint_position_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg command_args) panda_arm_joint1_position_controller panda_arm_joint2_position_controller
        panda_arm_joint3_position_controller panda_arm_joint4_position_controller panda_arm_joint5_position_controller panda_arm_joint6_position_controller panda_arm_joint7_position_controller"/>
</launch>