<!-- Launch file for training using the DDQG method -->
<launch>

    <!--## ARGUMENTS ##-->
    <!-- Main args -->
    <arg name="rviz" default="true" />

    <!-- Launch Panda openai simulator -->
    <include file="$(find panda_openai_sim)/launch/panda_openai_sim.launch">
        <arg name="rviz" value="$(arg rviz)" />
    </include>
</launch>