# Logs and data
logs/*

# Docs
_autosummary/

# Cache
__pycache__/
*.pyc

# Tests
pytest/
*.pytest_cache/
.coverage
pytest-coverage.txt

# Dist
build/
dist/
.eggs/
*.egg-info/

# Node
node_modules

# IDE
.vscode
*.code-workspace
